<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FingerprintDb"
         connectionString="Server=localhost,1433;Database=FingerPrintDB;User ID=sa;Password=IsnanDocker&amp;123;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FingerprintEncryptionKey" value="AgatosAveva" />
    <add key="FingerprintEncryptionSalt" value="12345678" />
  </appSettings>
</configuration>
